<!doctype html> 
<html> 
<head>
<title> Meadowlark Travel</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"> 
</head>
<body>
<div class="container">
	<div class="row justify-content-center text-center">
		<div class="col-12 text-center">
			<header><img src= '/img/bird-logo.png' alt= 'Meadowlark Travel Logo'></header> 
			{{{ body }}}
		</div>
	</div>
	<div class="row justify-content-center">
  		<div class="col-12 text-center">
    			<p style = "background-color: #34495e; color: #ecf0f1">fousseini&copykonate</p>
  		</div>
</div>
</body>
</html>

